

<html>
<body>
    <h1 align="center" style="position:center; font-size:100px">NO PUEDES PASAR</h1>
    <div>
        <img style="position:center" src="~/images/gandalf.gif" />
    </div>
    
    <div>
        <a asp-action="index" asp-controller="Home" class="btn btn-success">     Volver a la tienda     </a>
    </div>
   
</body>
</html>